h1, h5 {
    font-family: 'Playfair Display', serif;
    color: brown;
    text-align: center;
}


img {
    width: 50%;
    display: block;
    margin: auto;
}


p, form {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 15px;
}

.container {
    width: 40%;
    min-width: 600px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

span, .submit {
    text-align: center;
    color: #ff0094;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    margin-bottom: 35px;
}